.filter {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;

  .text-input {
    margin-bottom: 25px;
  }

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
  }
}